<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-3">
			<div class="ibox ibox-body">
				<div class="ibox-title">
					<h5>选择分类</h5>
				</div>
				<div class="ibox-content">
					<div id="jstree"></div>
				</div>
			</div>
		</div>
		<div class="col-sm-9">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-right col-md-2 nopadding" style="margin-right: 10px">
							<input id="name" name="name"  class="form-control" type="text" placeholder="设备名称">
						</div>
						<div class="columns pull-right col-md-2 nopadding" style="margin-right: 10px">
							<select data-placeholder="--设备品牌--" name="brand" id="brand"
									readonly="readonly" class="form-control chosen-select" tabindex="2" required>
								<option value="" readonly="readonly" >--设备品牌--</option>
							</select>
						</div>
						<div class="columns pull-right col-md-2 nopadding" style="margin-right: 10px">
                            <input id="deptId" name="deptId" class="hidden"> <input
                                id="deptName" name="deptName" class="form-control" type="text"
                                style="cursor: pointer;background-color: white" onclick="openDept()"
                                readonly="readonly" placeholder="所属机构">
						</div>

						<div class="columns pull-right col-md-2 nopadding" style="margin-right: 10px">
							<select data-placeholder="--库房类型--" name="type" id="type"
									class="form-control chosen-select" tabindex="2" required>
								<option value="">--库房类型--</option>
							</select>
						</div>
					</div>
					<div id="parent">
						<table id="parentTable" data-mobile-responsive="true">
						</table>
					</div>
					<div id="child" class="hidden">
						<table id="childTable" data-mobile-responsive="true">
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="stock:product1:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/equipment/stockQuery/stockQuery.js"></script>
</body>
</html>