<!DOCTYPE html>
<html xmlns:shiro="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<meta   http-equiv= "Pragma"   content= "no-cache" />
<meta   http-equiv= "Cache-Control"   content= "no-cache" />
<meta   http-equiv= "Expires"   content= "0" />
<head th:include="include :: header"></head>
<link href="/css/layui.css" rel="stylesheet">
<style>
	.input-group{
		display: block;
	}
	.label {
		width: auto;
		float: left;
		padding:11px 10px;
	}
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content " id="app">
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="row" style="padding-left: 15px;">
						<div class="input-group">
							<div class="form-group">
								<button shiro:hasPermission="business:profit:add" type="button"
										class="btn  btn-primary" onclick="add()">
									<i class="fa fa-plus hidden" aria-hidden="true"></i>新增利润
								</button>
							</div>
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
<div>
	<script type="text/javascript">
		var s_add_h = 'hidden';
		var s_edit_h = 'hidden';
		var s_remove_h = 'hidden';
	</script>
</div>
<div shiro:hasPermission="business:profit:edit">
	<script type="text/javascript">
		s_edit_h = '';
	</script>
</div>
<div shiro:hasPermission="business:profit:add">
	<script type="text/javascript">
		s_add_h = '';
	</script>
</div>
<div shiro:hasPermission="business:profit:remove">
	<script type="text/javascript">
		var s_remove_h = '';
	</script>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/business/profit/profit.js"></script>
</body>
</html>