<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title></title>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=i0pSF5a29dpE3H33wN6E3jmC"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/library/MarkerTool/1.2/src/MarkerTool_min.js"></script>
<!--
	<script type="text/javascript" src="~/map-js/jquery-1.9.1.min.js"></script>
-->
	<script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=IDvNBsejl9oqMbPF316iKsXR"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
	<!--<script src="~/map-js/jquery-1.9.1.js" type="text/javascript"></script>

	<script type="text/javascript" src="~/map-js/jquery-1.9.1.min.js"></script>-->
	<link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
	<script type="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer_min.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/library/MarkerTool/1.2/src/MarkerTool_min.js"></script>
	<!--<script type="text/javascript" src="~/map-js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="~/map-js/jquery-form.js"></script>
	<script type="text/javascript" src="~/map-js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="~/map-js/jquery-1.4.1.js"></script>
	<script type="text/javascript" src="~/map-js/ajaxfileupload.js"></script>-->
	<style type="text/css">
		/* infowindow相关css */
		.common {
			font-size: 12px;
			width:100px;
			height:28px;
		}
		.common1 {
			font-size: 12px;
			width:75px;
			height:28px;
		}
		.star {
			color: #ff0000;
		}
		.className{
			line-height:30px;
			height:30px;
			width:70px;
			color:#ffffff;
			background-color:#4a8cf7;
			font-size:16px;
			font-weight:lighter;
			font-family:Microsoft YaHei;
			border:0px solid #dcdcdc;
			-moz-box-shadow: inset 0px 0px 0px 0px #ffffff;
			-webkit-box-shadow: inset 0px 0px 0px 0px #ffffff;
			box-shadow: inset 0px 0px 0px 0px #ffffff;
			text-align:center;
			display:inline-block;
			text-decoration:none;
		}
		.className:hover{
			background-color:#0e67f6;
		}
		.control-group {
			margin: 0;
			padding: 0;
			border-bottom: 1px solid #eee;
		}
		.cancel{
			line-height:30px;
			height:30px;
			width:70px;
			color:#080808;
			background-color:#e5e5e5;
			font-size:16px;
			font-weight:lighter;
			font-family:Microsoft YaHei;
			border:0px solid #dcdcdc;
			-moz-box-shadow: inset 0px 0px 0px 0px #ffffff;
			-webkit-box-shadow: inset 0px 0px 0px 0px #ffffff;
			box-shadow: inset 0px 0px 0px 0px #ffffff;
			text-align:center;
			display:inline-block;
			text-decoration:none;
		}
		.cancel:hover{
			background-color:#d4dae3;
		}

		#imagePreview {
			position: relative;
			left: 28%;
			top: 70%;
			width: 720px;
			height: 274px;
			filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale);
		}
	</style>
</head>
<body >
<div style="display: none; width:40px;float:left;height:30px;margin: 6px 0 0 0"><label style="vertical-align:bottom">搜索</label> </div><div style="display: none" id="r-result"><input type="text" id="suggestId" size="20" value="百度" style="width:30%;border-radius:10px;height: 25px" /></div>
<div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
<div style="height:100%;width:100%;border-right:2px solid #bcbcbc;position:absolute;" id="container"></div>
<!--<input type="button" value="选择标注样式" id="haha" style="display:none" />-->
</body>
</html>
<script src="/js/plugins/layer/layer.js"></script>
<!--<script type="text/javascript" src="~/map-js/ajaxfileupload.js"></script>-->
<script type="text/javascript">
    function getQueryString(name) {
        var result = window.location.search.match(new RegExp("[\?\&]" + name + "=([^\&]+)", "i"));
        if (result == null || result.length < 1) {
            return "";
        }
        return result[1];
    }
    var zoom = getQueryString("zoom");
    var lng = getQueryString("lng");
    var lat = getQueryString("lat");
   // alert(str);
   // alert(str1);
   // alert(str2);
	var map = new BMap.Map("container");
    if((zoom==''||zoom==null)&&(lng==''||lng==null)&&(lat==''||lat==null)){
        map.centerAndZoom(new BMap.Point(117.969018,40.958547), 12);

    }else{
        map.centerAndZoom(new BMap.Point(lng,lat), zoom);
    }
    map.enableScrollWheelZoom();

    // 定义一个控件类,即function
    function ZoomControl(){
        // 默认停靠位置和偏移量
        this.defaultAnchor = BMAP_ANCHOR_TOP_RIGHT;
        this.defaultOffset = new BMap.Size(30, 10);
    }

    // 通过JavaScript的prototype属性继承于BMap.Control
    ZoomControl.prototype = new BMap.Control();

    // 自定义控件必须实现自己的initialize方法,并且将控件的DOM元素返回
    // 在本方法中创建个div元素作为控件的容器,并将其添加到地图容器中
    ZoomControl.prototype.initialize = function(map){
        // 创建一个DOM元素
        var div = document.createElement("div");
        // 添加文字说明
        div.appendChild(document.createTextNode("鼠标右键进行标点"));
        // 设置样式
        div.style.cursor = "pointer";
        div.style.border = "1px solid gray";
        div.style.backgroundColor = "white";
        // 绑定事件,点击一次放大两级
        // 添加DOM元素到地图中
        map.getContainer().appendChild(div);
        // 将DOM元素返回
        return div;
    }
    // 创建控件
    var myZoomCtrl = new ZoomControl();
    // 添加到地图当中
    map.addControl(myZoomCtrl);
	//定义一个固定的用户名，用来实现人桩对应,将用户名传至控制器中，去数据库搜索
	function init() {
		$.ajax({
			type: "GET",
			url: "/inspection/xjmap/get",
			//data: "{'sheng':'" + sheng + "' ,'shi':'" + shi + "','xian':'" + xian + "' }",
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function (data) {
				if (data == "]") {

				}
				else {
					//var shuju = data;
					//console.log(data);
					var json=JSON.stringify(data);//区分大小写噢
					//alert(json);
					var markerArr = eval('(' + json + ')');
					addMarker(markerArr);
				//	console.log(markerArr);
					map.addControl(new BMap.NavigationControl());
					//创建自定义搜索类
					window.searchClass = new SearchClass();
					/*var BASEDATA = [
					 {title:"火神庙信用社",content:"火神庙环岛转盘1号",point:"117.944836|40.986329",isOpen:0,icon:"../../../../../img/blue_point_mini.png"},
					 {title:"东大街信用社",content:"都统府大街12号",point:"117.947414|40.985032",isOpen:0,icon:"../../../../../img/red_point_mini.png"}
					 ];*/
					searchClass.setData(markerArr);
					reset();
				}
			},
			error: function (err) {
				alert("数据错误");
			}
		});
	}
	//页面加载完成，开始在地图标点，标注的点为该登录用户历史标点
	window.onload = function () {
		init();

	};
	//搜索方法 param{searchTypeRadio_name：搜索radio的名字,keyword_name:搜索文本框的id}
	window.search = function(searchTypeRadio_name,keyword_name){
		//获取页面dom
		var searchType = document.getElementsByName(searchTypeRadio_name);
		var keyword = document.getElementById(keyword_name).value;
		//获取dom的值
		var isLikeSearch;
		for(var i = 0; i < searchType.length; i++){
			if(searchType[i].checked){
				isLikeSearch = searchType[i].value;
			}
		}
		//开始搜索
		searchClass.trim(isLikeSearch) == "" && (t_v = "single"); //去掉搜索关键字的html标签
		var dd = searchClass.search({k:"title",d:keyword,t:isLikeSearch,s:""});
		addMarker(dd);//向地图中添加marker
	}
	//重置返回所有结果
	window.reset = function(){
		//s:{''只返回找到的结果|all返回所有的}
		var dd = searchClass.search({k:"title",d:"显示全部",t:"single",s:"all"});
		addMarker(dd);//向地图中添加marker
	}

	//创建marker
	window.addMarker = function (data){
		map.clearOverlays();
		for(var i=0;i<data.length;i++){
			var json = data[i];
			var p0 = json.point.split(",")[0];
			var p1 = json.point.split(",")[1];
			var point = new BMap.Point(p0,p1);
			//var iconImg = new BMap.Icon(json.icon, new BMap.Size(36, 36));
            var iconImg = createIcon(json.icon);
			var marker = new BMap.Marker(point,{icon:iconImg});
			var iw = createInfoWindow(i);
			var label = new BMap.Label(json.title,{"offset":new BMap.Size(28, 6)});
			var title = showtitle(json);
			marker.setLabel(label);
			map.addOverlay(marker);
			label.setStyle({
				borderColor:"#808080",
				color:"#333",
				cursor:"pointer"
			});

			(function(){
				var _json = json;
				var _iw = createInfoWindow(_json);
				var _marker = marker;
				_marker.addEventListener("click",function(){
					this.openInfoWindow(_iw);
				});
				_iw.addEventListener("open",function(){
					_marker.getLabel().hide();
				})
				_iw.addEventListener("close",function(){
					_marker.getLabel().show();
				})
				label.addEventListener("click",function(){
					_marker.openInfoWindow(_iw);
				})

				if(!!json.isOpen){
					label.hide();
					_marker.openInfoWindow(_iw);
				}
				//创建右键菜单,管理员权限才有标注 编辑删除点的权限
				marker.title = title;
				var markerMenu = new BMap.ContextMenu();
				markerMenu.addItem(new BMap.MenuItem('删除该站', removeMarker.bind(marker)));
				//markerMenu.addItem(new BMap.MenuItem('添加设备', EditMarker.bind(marker)));
				//markerMenu.addItem(new BMap.MenuItem('编辑站信息', EditStation.bind(marker)));
				marker.addContextMenu(markerMenu);
			})()
		}
	}
	var removeMarker = function (e, ee, marker) {
		if (confirm("确定删除该巡检网点吗？")) {
			//alert(e.lng);
			//console.log(e.lat);
			//console.log(e.lng);
			console.log(marker);
			$.ajax({
				type : "post",
				url: "/inspection/xjmap/delete",
				//方法传参的写法一定要对，str为形参的名字,str2为第二个形参的名字
				//data: "{'jd':'" + e.lng + "','wd':'" + e.lat + "'}",
				data : {
					'title' : marker.title
					//'jd' : e.lng,
					//'wd' : e.lat
				}
				//contentType: "application/json; charset=utf-8"
			});
			map.removeOverlay(marker);
		}
	};
	//创建InfoWindow
	function createInfoWindow(json){
		var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
		return iw;
	}
	//创建一个Icon
	function createIcon(json){
		var icon = new BMap.Icon("../../../../../img/red_point_mini.png", new BMap.Size(36,36),
                {imageOffset: new BMap.Size(0,0),})
           // infoWindowAnchor:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
		return icon;
	}

	function SearchClass(data){
		this.datas = data;
	}
	// rule = {k:"title",d:"酒店",s:"all",t:"single"}=>t{single:(key=?),more:(key like[%?%])}//t:{single|more},s{all|!all}
	// rule = {k:"名字",d:"搜索关键字",t:{single名字精确查找|more名字模糊匹配查找},s{''只返回找到的结果|all返回所有的}
	SearchClass.prototype.search = function(rule){
		if(this.datas == null){alert("数据不存在!");return false;}
		if(this.trim(rule) == "" || this.trim(rule.d) == "" || this.trim(rule.k) == "" || this.trim(rule.t) == ""){alert("请指定要搜索内容!");return false;}
		var reval = [];
		var datas = this.datas;
		var len = datas.length;
		var me = this;
		var ruleReg = new RegExp(this.trim(rule.d));
		var hasOpen = false;

		var addData = function(data,isOpen){
			// 第一条数据打开信息窗口
			if(isOpen && !hasOpen){
				hasOpen = true;
				data.isOpen = 1;
			}else{
				data.isOpen = 0;
			}
			reval.push(data);
		}
		var getData = function(data,key){
			var ks = me.trim(key).split(/\./);
			var i = null,s = "data";
			if(ks.length == 0){
				return data;
			}else{
				for(var i = 0; i < ks.length; i++){
					s += '["' + ks[i] + '"]';
				}
				return eval(s);
			}
		}
		for(var cnt = 0; cnt < len; cnt++){
			var data = datas[cnt];
			var d = getData(data,rule.k);
			if(rule.t == "single" && rule.d == d){
				addData(data,true);
			}else if(rule.t != "single" && ruleReg.test(d)){
				addData(data,true);
			}else if(rule.s == "all"){
				addData(data,false);
			}
		}
		return reval;
	}
	SearchClass.prototype.setData = function(data){
		this.datas = data;
	}
	SearchClass.prototype.trim = function(str){
		if(str == null){str = "";}else{ str = str.toString();}
		return str.replace(/(^[\s\t\xa0\u3000]+)|([\u3000\xa0\s\t]+$)/g, "");
	}
	//获取用户名
	//var UserName = "admin";
	//readOnly="true"
	//搜索框部分程序
	function G(id) {
		return document.getElementById(id);
	}

	//var map = new BMap.Map("l-map");
	//map.centerAndZoom("北京", 12);                   // 初始化地图,设置城市和地图级别。

	var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
			{
				"input": "suggestId"
				, "location": map
			});

	ac.addEventListener("onhighlight", function (e) {  //鼠标放在下拉列表上的事件
		var str = "";
		var _value = e.fromitem.value;
		var value = "";
		if (e.fromitem.index > -1) {
			value = _value.province + _value.city + _value.district + _value.street + _value.business;
		}
		str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

		value = "";
		if (e.toitem.index > -1) {
			_value = e.toitem.value;
			value = _value.province + _value.city + _value.district + _value.street + _value.business;
		}
		str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
		G("searchResultPanel").innerHTML = str;
	});

	var myValue;
	ac.addEventListener("onconfirm", function (e) {    //鼠标点击下拉列表后的事件
		var _value = e.item.value;
		myValue = _value.province + _value.city + _value.district + _value.street + _value.business;
		G("searchResultPanel").innerHTML = "onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;
		setPlace();
	});

	function setPlace() {
		//map.clearOverlays();    //清除地图上所有覆盖物
		function myFun() {
			var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
			map.centerAndZoom(pp, 18);
			var myGeo = new BMap.Geocoder();
			myGeo.getLocation(pp, function (rs) {
				//console.log(rs);
				var addComp = rs.addressComponents;
				sheng = addComp.province;
				shi = addComp.city;
				xian = addComp.district;
				//map.clearOverlays();
				//alert(sheng + "," + shi + "," + xian);
			});
		}
		var local = new BMap.LocalSearch(map, { //智能搜索
			onSearchComplete: myFun
		});
		local.search(myValue);
	}
	//搜索框部分程序结束
	//标点时的信息窗口
	var html = [];
	html.push('<form id="formId" method = "post"  action = "/inspection/xjmap/save" enctype = "multipart/form-data" style="width:280px;height:220px; >');
	html.push('<span style="font-size:14px;width:100%;" >巡检网点信息: </span><br/>');
	html.push('<table border="0" cellpadding="0" cellspacing="0" style="width:538px;height:358px; border="1" " >');

	html.push('  <tr>');
	html.push('      <td align="center" class="common"><font style="color: red;font-weight: bold">*</font>网点名称：</td>');
	html.push('      <td  colspan="2"><input type="hidden"   name="deptId" id="deptId"><input id="name" name="name" type="text"style="cursor: pointer;width:150px;height:28px"  maxlength="50" size="18"onclick="openDept()"readonly="readonly" placeholder="所属部门"></td>');
	html.push('	     <td valign="top"></td>');
	html.push('  </tr>');
	//html.push('  <tr>');
	html.push('  <tr >');
	html.push('      <td align="center" class="common"><font style="color: red;font-weight: bold">*</font>经度：</td>');
	html.push('      <td  colspan="2"><input type="text" maxlength="50" size="18" name="jd" id="jd"  style="width:150px;height:28px" readonly ></td>');
	html.push('	     <td valign="top"></td>');
	html.push('  </tr>');
	html.push('  <tr >');
	html.push('      <td align="center" class="common"><font style="color: red;font-weight: bold">*</font>纬度：</td>');
	html.push('      <td  colspan="2"><input type="text" maxlength="50" size="18" name="wd" id="wd"  style="width:150px;height:28px" readonly ></td>');
	html.push('	     <td valign="top"></td>');
	/*html.push('  </tr>');
	html.push('  <tr>');*/
	html.push('  </tr>');
	html.push('  <tr>');
	html.push('      <td align="center" class="common"><font style="color: red;font-weight: bold">*</font>网点地址：</td>');
	html.push('      <td  colspan="2"><input type="text" maxlength="50" size="18" name="address" id="address"  style="width:150px;height:28px"></td>');
	html.push('	     <td valign="top"></td>');
	html.push('  </tr>');
	//上传图片部分程序,注释掉的部分程序为图片预览程序
	//html.push(' <div id="imagePreview">');
	//html.push('</div>');
	html.push('</form>');
	//上传图片部分程序结束
	html.push('  <tr>');
	html.push('	     <td  align="left" colspan="3">');
	//html.push('          <input type="submit"  value="提hjf交">&nbsp;&nbsp;');
	html.push('          <input type="button" name="btnOK" type="submit" class="className" style="width:74px;height:34px;" onclick="fnOK()" value="提交">&nbsp;&nbsp;');
	html.push('		     <input type="button" name="btnClear" class="cancel" style="width:74px;height:34px;" onclick="fnClear();" value="撤销">');
	html.push('	     </td>');
	html.push('  </tr>');
	html.push('</table>');


	var openDept = function(){
		layer.open({
			type:2,
			title:"选择部门",
			area : [ '300px', '450px' ],
			content:"/system/sysDept/treeView"
		})
	}
	function loadDept( deptId,deptName){
		$("#deptId").val(deptId);
		$("#name").val(deptName);
	}
	//为站添加设备的信息窗口
	var EditHtml = [];
	EditHtml.push('<div style="width:538px;height:358px;overflow:auto;border=1" ><br/>');
	EditHtml.push('<span style="font-size:14px;width:100%;" >巡检网点信息: </span><br/>');
	EditHtml.push('<span style="font-size:14px;width:250px;" >设备所属人:</span><select id="mySelect" style=width:164px;height:38px ><option>admin</option><option>zhl</option><option>administrator</option></select> </span> </span><br/>');
	EditHtml.push('<span style="font-size:14px;width:250px;" >设备维护人:</span><select id="mySelect1" style=width:164px;height:38px ><option>admin</option><option>zhl</option><option>administrator</option></select> </span><br/>');

	EditHtml.push('<table border="0" cellpadding="0" cellspacing="0" id="empListTable"  >');
	EditHtml.push('  <tr>');
	EditHtml.push('      <td align="left" class="common1" style="font-size:14px;">*设备编号：</td>');
	EditHtml.push('     <td  colspan="2"> <input type="text" maxlength="50" size="18" name=empName id="address"  style="width:150px;height:28px" ><input  type=button class="nodeal" style="width:50px;height:35px;  padding: 0 5px; margin:0 10px 7px" value="删除"  /><input  type=button  style="width:50px;height:35px;  padding: 0 5px; margin:0 10px 7px" value="新增" onclick="addedit1()" /></td>');
	EditHtml.push('	     <td valign="top"></td>');
	EditHtml.push('  </tr>');

	EditHtml.push('</table>');
	EditHtml.push('</div>');
	EditHtml.push('          <input type="button" name="btnOK" class="className" style="width:74px;height:34px;" onclick="DeviceOK()" value="提交">&nbsp;&nbsp;');
	EditHtml.push('		     <input type="button" name="btnClear" class="cancel" style="width:74px;height:34px;" onclick="DeviceClear();" value="撤销">&nbsp;&nbsp;');
	//0622注释
	var select = [];
	//EditHtml.push('<td  align="left" colspan="3">');
	//EditHtml.push('<select multiple size="5" name="list1" style="width:250px"> <option value="11"> item 1.1 </option> <option value="12"> item 1.2 </option> <option value="13"> item 1.3 </option> </select>');
	//EditHtml.push('</td>');
	//EditHtml.push('<td  align="left" colspan="3">');
	//EditHtml.push('<select multiple size="5" id="haha" name="list2" style="width:250px"> <option value="21"> item 2.1 </option> <option value="22"> item 2.2 </option> <option value="23"> item 2.3 </option> </select>');
	//EditHtml.push('</td>');

	select.push('   <table id=haha>');
	select.push('   <tr>');



	select.push(' <th style="width: 8px;"> haha1</th> ');

	select.push('   <th style="width: 8px;"> haha2</th>');
	select.push('   <th style="width: 8px;"> haha</th>');

	select.push('   </table>');
	select.push('   </tr>');


	//EditHtml.push('<input type="button" value="   >   " onclick="move(list1,list2)" name="B1">');
	//EditHtml.push('<input type="button" value="   <   " onclick="move(list2,list1)" name="B2">');
	//EditHtml.push('<input type="button" value="   <<   " onclick="moveall(list2,list1)" name="B4">');
	//EditHtml.push('<input type="button" value="   >>   " onclick="moveall(list1,list2)" name="B3">');

	//EditHtml.push('		     <input type="button" name="btnClear" class="cancel" style="width:74px;height:34px;" onclick="Add()"  value="增加">');
	//上传图片部分JS程序

	/*var loadImageFile = (function () {
		if (window.FileReader) {
			var oPreviewImg = null, oFReader = new window.FileReader(),
					rFilter = /^(?:image\/bmp|image\/cis\-cod|image\/gif|image\/ief|image\/jpeg|image\/jpeg|image\/jpeg|image\/pipeg|image\/png|image\/svg\+xml|image\/tiff|image\/x\-cmu\-raster|image\/x\-cmx|image\/x\-icon|image\/x\-portable\-anymap|image\/x\-portable\-bitmap|image\/x\-portable\-graymap|image\/x\-portable\-pixmap|image\/x\-rgb|image\/x\-xbitmap|image\/x\-xpixmap|image\/x\-xwindowdump)$/i;
			//图片预览部分程序注释掉
			//oFReader.onload = function (oFREvent) {
			//    if (!oPreviewImg) {
			//        var newPreview = document.getElementById("imagePreview");
			//        oPreviewImg = new Image();
			//        oPreviewImg.style.width = (newPreview.offsetWidth).toString() + "px";
			//        oPreviewImg.style.height = (newPreview.offsetHeight).toString() + "px";
			//        newPreview.appendChild(oPreviewImg);
			//    }
			//    oPreviewImg.src = oFREvent.target.result;
			//};

			return function () {
				var aFiles = document.getElementById("imageInput").files;
				if (aFiles.length === 0) { return; }
				if (!rFilter.test(aFiles[0].type)) { alert("仅支持图片上传"); return; }
				oFReader.readAsDataURL(aFiles[0]);
			}

		}
		if (navigator.appName === "Microsoft Internet Explorer") {
			return function () {
				alert(document.getElementById("imageInput").value);
				document.getElementById("imagePreview").filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = document.getElementById("imageInput").value;

			}
		}
	})();*/

	//结束



	sortitems = 1;  // Automatically sort items within lists? (1 or 0)


	function move(fbox, tbox) {

		for (var i = 0; i < fbox.options.length; i++) {
			if (fbox.options[i].selected && fbox.options[i].value != "") {
				var no = new Option();
				no.value = fbox.options[i].value;
				no.text = fbox.options[i].text;
				tbox.options[tbox.options.length] = no;
				fbox.options[i].value = "";
				fbox.options[i].text = "";
			}
		}
		BumpUp(fbox);
		if (sortitems) SortD(tbox);
	}

	function moveall(fbox, tbox) {
		for (var i = 0; i < fbox.options.length; i++) {
			if (fbox.options[i].value != "") {
				var no = new Option();
				no.value = fbox.options[i].value;
				no.text = fbox.options[i].text;
				tbox.options[tbox.options.length] = no;
				fbox.options[i].value = "";
				fbox.options[i].text = "";
			}
		}
		BumpUp(fbox);
		if (sortitems) SortD(tbox);
	}


	function BumpUp(box) {
		for (var i = 0; i < box.options.length; i++) {
			if (box.options[i].value == "") {
				for (var j = i; j < box.options.length - 1; j++) {
					box.options[j].value = box.options[j + 1].value;
					box.options[j].text = box.options[j + 1].text;
				}
				var ln = i;
				break;
			}
		}
		if (ln < box.options.length) {
			box.options.length -= 1;
			BumpUp(box);
		}
	}

	function SortD(box) {
		var temp_opts = new Array();
		var temp = new Object();
		for (var i = 0; i < box.options.length; i++) {
			temp_opts[i] = box.options[i];
		}

		for (var x = 0; x < temp_opts.length - 1; x++) {
			for (var y = (x + 1) ; y < temp_opts.length; y++) {
				if (temp_opts[x].text > temp_opts[y].text) {
					temp = temp_opts[x].text;
					temp_opts[x].text = temp_opts[y].text;
					temp_opts[y].text = temp;
					temp = temp_opts[x].value;
					temp_opts[x].value = temp_opts[y].value;
					temp_opts[y].value = temp;
				}
			}
		}

		for (var i = 0; i < box.options.length; i++) {
			box.options[i].value = temp_opts[i].value;
			box.options[i].text = temp_opts[i].text;
		}
	}

	function DeviceClear() {
		map.closeInfoWindow();//添加设备时的撤销操作
	}
	function selectdevice() {

		marker.openInfoWindow(selectWin);


	}
	function init2() {
		//这里其实用ul li input :button就可以,但是给按钮加一个class方便用css给按钮添加样式，这里本人比较懒没有添加样式。
		$("tr td input.del1").unbind("click").click(function () {
			var devicenum = ($(this).prev().val());
			$(this).parent().parent().remove();

		});
	}
	//每点击一次添加一个输入框
	//function Add() {
	//    var x = document.getElementById('empListTable').insertRow(0)
	//    var y = x.insertCell(0)
	//    var z = x.insertCell(1)
	//    y.innerHTML = "<td align=center class=common style=font-size:14px;>*设备编号：</td>";
	//    z.innerHTML = " <td  colspan=2><input type=text maxlength=50 size=18 name=empName id=address ondblclick=Add() style=width:150px;height:28px></td>";
	//}
	function addedit1() {
		var x = document.getElementById('empListTable').insertRow(0)
		var y = x.insertCell(0)
		var z = x.insertCell(1)
		y.innerHTML = "<tr><td align=center class=common style=font-size:14px;>*设备编号：</td>";
		z.innerHTML = " <td  colspan=2><input type=text  size=18 name=empName   style=width:150px;height:28px><input  type=button class='del1' style='width:50px;height:35px;  padding: 0 5px; margin:0 10px 7px' value='删除' /><input  type=button  style='width:50px;height:35px;  padding: 0 5px; margin:0 10px 7px' value='新增' onclick='addedit1()' /></td></tr>";
		init2();
	}

	//创建两个信息窗口
	var nwinfo = new BMap.InfoWindow(EditHtml.join(""), { offset: new BMap.Size(0, -10) });
	var infoWin = new BMap.InfoWindow(html.join(""), { offset: new BMap.Size(0, -10) });
	var selectWin = new BMap.InfoWindow(select.join(""), { offset: new BMap.Size(0, -10) })
	var curMkr = null; // 记录当前添加的Mkr
	//调用标点工具的接口
	var mkrTool = new BMapLib.MarkerTool(map, { autoClose: true, followText: "" });
	//在地图上添加点时候执行的程序
	mkrTool.addEventListener("markend", function (evt) {
		var mkr = evt.marker;
		var pointMarker = new BMap.Point(mkr.point.lng, mkr.point.lat); // 创建标注的坐标
		a = mkr.point.lat;//纬度
		b = mkr.point.lng;//经度
		var myGeo = new BMap.Geocoder();
		myGeo.getLocation(pointMarker, function (rs) {
			var addComp = rs.addressComponents;
			//sheng = addComp.province;
			//shi = addComp.city;
			//xian = addComp.district;
			//street = addComp.street;
			//document.getElementById("txtName").value = sheng;
			//document.getElementById("txtTel").value = shi;
			//document.getElementById("txtAddr").value = xian;
			document.getElementById("jd").value = b;
			document.getElementById("wd").value = a;
		});
		mkr.openInfoWindow(infoWin);
		curMkr = mkr;
		map.addEventListener("click", function () {
			map.removeOverlay(curMkr);//在标注过程中如果点击地图，那么删除该标点
		});
	});
	//为站添加设备时的确认操作
	function DeviceOK() {
		//var haha = document.getElementById("haha").selected;
		//alert(haha);
		//获取到输入框中的内容
		var els = document.getElementsByName("empName");
		//var ss = $("tr td input.text")
		//for (var i = 0; i < ss.length;i++){

		//}
		//alert(els);
		var DeviceNum = [];
		//拥有者账号
		var select = document.getElementById('mySelect');
		var username = select.value;
		//维护者账号
		var select1 = document.getElementById('mySelect1');
		var whuser = select1.value;
		//数据不能为空
		if (!els) {
			alert("星号字段必须填写");
			return;
		}
		var number = [];
		var amount = [];
		if (els.length > 0) {
			for (var i = 0, j = els.length; i < j; i++) {
				var bian = els[i].value.trim();
				//alert(bian);
				$.ajax({
					type: "POST",
					url: "/ManageMap/verify",
					async: false,
					//方法传参的写法一定要对，str为形参的名字,str2为第二个形参的名字
					data: "{'Num':'" + els[i].value.trim() + "'}",
					contentType: "application/json; charset=utf-8",
					//请求不成功
					dataType: "json",
					success: function (data) {
						if (data == "[]") {
							//数据库验证如果不存在生成一个数组
							//alert(bian);
							number.push(bian);

						}
						else {
							//数据库验证如果存在则生成amount数组
							amount.push(bian);
						}
					}
				});

			}
		}
		//如果所输入的数据在成品中有，并且没有入网，那么开始向数据库中添加记录
		if (els.length = amount.length) {
			//alert(amount.length);
			for (var i = 0; i < amount.length; i++) {

				$.ajax({
					type: "POST",
					url: "/ManageMap/InsertNum",
					//方法传参的写法一定要对，str为形参的名字,str2为第二个形参的名字
					data: "{'Dnum':'" + amount[i] + "','userid':'" + username + "','whuser':'" + whuser + "'}",
					contentType: "application/json; charset=utf-8",
				});
				//2016714注释掉
				//map.removeOverlay(marker);

				//init();//执行初始化程序，
				map.closeInfoWindow();

			}
		}
		else {
			alert(number + "号设备不存在或该设备已入网");
		}
	}


	//设置标注样式
	function Marking() {
      //  mkrTool.setIcon('');
      // mkrTool.close();
		mkrTool.open(); //打开工具
    /*    var myIcon = new BMap.Icon('../../../../../img/red_point_mini.png', new BMap.Size(36, 36),
		 /!*{
		 //指定定位位置
		 offset: new BMap.Size(0, 0),
		 // 设置图片偏移
		 imageOffset: new BMap.Size(0, 0)

		 }*!/);*/
        var icon = new BMap.Icon("../../../../../img/red_point_mini.png", new BMap.Size(36,36),
                {imageOffset: new BMap.Size(0,0),});
		mkrTool.setIcon(icon);
	}
	//window.onload(alert("haha"));
	//提交数据
	function fnOK() {
		var name = encodeHTML(document.getElementById("name").value);
		//var tel = encodeHTML(document.getElementById("txtTel").value);
		//var addr = encodeHTML(document.getElementById("txtAddr").value);
		var address = encodeHTML(document.getElementById("address").value);
		//var StationName = encodeHTML(document.getElementById("Name").value);

		var lat = encodeHTML(document.getElementById("jd").value);
		var lot = encodeHTML(document.getElementById("wd").value);
		////var aFiles = document.getElementById("imageInput").files;
		//var aFiles = document.getElementById("imageInput").files;
	//	var aFiles = $("#imageInput").val();
		//alert(aFiles);
		////提交图片程序
		////连续获取设备编号
		//实景图片与星字段均为必填项
		if (!address || !name ) {
			alert("星号字段必须填写");
			return;
		}

	//	$("#formId").submit();//如果数据都填好了，那么开始提交表单


			var form = new FormData(document.getElementById("formId"));
			$.ajax({
				url:"/inspection/xjmap/save",
				type:"post",
				data:form,
				processData:false,
				contentType:false,
				success:function(data){
					if (data.code == 0) {
						parent.layer.msg("网点添加成功！");
						//map.clearOverlays();
                        //map.closeInfoWindow();
						//init();
                        window.location.replace("/inspection/xjmap?zoom="+map.getZoom()+"&lng="+map.getCenter().lng+"&lat="+map.getCenter().lat);
                        //console.log(map.getZoom());
                        //console.log(map.getZoom( map.getCenter().lng + "," + map.getCenter().lat));
                  //  alert(map.getCenter().lng,map.getCenter().lat);
					}else if(data.code == 2){
						parent.layer.msg("该网点已经存在，请修改网点名称！");
					}else{
						parent.layer.msg("未知错误，请联系管理员！");
					}
				},
				error:function(e){
					alert("未知错误！");
					window.clearInterval(timer);
				}
			});



		//if (infoWin.isOpen()) {
		//    map.closeInfoWindow();
		//}
		////在此用户可将数据提交到后台数据库中
		//$.ajax({
		//    type: "POST",
		//    url: "/ManageMap/InserMark",
		//    //方法传参的写法一定要对，str为形参的名字,str2为第二个形参的名字
		//    data: "{'province':'" + name + "','city':'" + tel + "','area':'" + addr + "','street':'" + desc + "','station':'" + StationName + "','latisc':'" + lat + "','lon':'" + lot + "','image':'" + aFiles + "'}",
		//    contentType: "application/json; charset=utf-8",
		//    //请求不成功
		//    dataType: "json",
		//    success: function (data) {
		//        if (data == "]") {
		//            alert("入网失败");
		//        }
		//        else {
		//            var shuju = data;
		//            var BASEDATA = eval('(' + data + ')');
		//            addMarker(BASEDATA);
		//            if (confirm("标注完成是否添加实景图片？")) {
		//                window.location.href = '/querystation/Index?Num=' + StationName + '';
		//            }
		//            else { alert("您可以在设备查询中为该站添加实景图片");}
		//        }
		//    }
		//});



	}


	var marker;
	var count;
	var number;
/*	function createInfoWindow(json) {
		//alert(number);
		var iw = new BMap.InfoWindow("<div><div style='background-color:#BBE0E3;width:auto'><b class='iw_poi_title' title='" + json.title + "'>站名称：" + json.title + "</b><div class='iw_poi_content'>站地址:" + json.position + "</div><div class='iw_poi_content'>桩编号:<span id='zbh2'></span></div></div></div>");
		return iw;
		//<div class='iw_poi_content'>详细位置:" + json.weizhi + "</div>
	}*/
	//获取用户类型
	/*window.addMarker = function (data) {
		map.removeOverlay(curMkr);
		for (var i = 0; i < data.length; i++) {
			var json = data[i];
			var p0 = json.point.split("|")[0];
			var p1 = json.point.split("|")[1];
			var point = new BMap.Point(p0, p1);
			var iconImg = new BMap.Icon('../../../../../img/red_point_mini.png', new BMap.Size(36, 36), { anchor: new BMap.Size(12, 15) });
			marker = new BMap.Marker(point, { icon: iconImg });

			var iw = createInfoWindow(i);
			map.addOverlay(marker);
			(function () {
				var _json = json;
				var message = showmag(_json);
				var title = showtitle(_json);
				var jd = showjd(_json);
				var dwd = showdwd(_json);
				var djd = showdjd(_json);
				var weizhi = showweizhi(_json);
				var customer = showcustomer(_json);
				var stationid = showstationid(_json);
				var tel = showtel(_json);
				var _iw = createInfoWindow(_json);
				var _marker = marker;
				_marker.addEventListener("mouseover", function () {
					//alert(message);
					//this.openInfoWindow(_iw);
					$.ajax({
						type: "POST",
						url: "/ManageMap/GetStationInfo",
						//方法传参的写法一定要对，str为形参的名字,str2为第二个形参的名字
						data: "{'station':'" + stationid + "'}",
						contentType: "application/json; charset=utf-8",
						//请求不成功
						dataType: "json",
						success: function (data1) {
							if (data1 == "]") {
							}
							else {
								var shuju = data1;

								if (shuju == "[]") {
									number = "该站还未添加设备";
									_marker.openInfoWindow(_iw);
									$('#zbh2').html(number)
								}
								else {
									var obj = eval("(" + data1 + ")");

									//alert(obj);
									number = obj[0].title;
									//alert(number);

									//alert($('#zbh2').html('123'))
									_marker.openInfoWindow(_iw);
									$('#zbh2').html(number)
								}

							}
						}
					});
				});
				//_marker.addEventListener("mouseout", function () {
				//    this.closeInfoWindow(_iw);
				//});
				////设备详情
				_marker.addEventListener("click", function () {

					window.location.href = '/querystation/Index?Num=' + title + '';
				});
				_marker.addEventListener("dblclick", function () { map.centerAndZoom(new BMap.Point(djd, dwd), 18); });
				//_marker.dblclick( function () { alert("haha") map.centerAndZoom(new BMap.Point(jd), 15);});
				if (!!json.isOpen) {
					label.hide();
					_marker.openInfoWindow(_iw);

				}

				var removeMarker = function (e, ee, marker) {
					if (confirm("该站删除以后，设备信息也会被删除，确定删除吗？")) {

						$.ajax({
							type: "POST",
							url: "/ManageMap/Delete",
							async: false,
							//方法传参的写法一定要对，str为形参的名字,str2为第二个形参的名字
							data: "{'title':'" + stationid + "'}",
							contentType: "application/json; charset=utf-8"
						});
						map.removeOverlay(marker);
					}
				}
				var EditMarker = function (e, ee, marker) {
					marker.openInfoWindow(nwinfo);
					//var hehe = [1,2,3];
					//var selectbut = document.getElementById("mySelect");
					//for (var i = 0; i < hehe.length; i++)
					//{

					//}
					//在该处将站点编号信息传至控制器中的全局变量中。
					$.ajax({
						type: "POST",
						url: "/ManageMap/GetDnum",
						//方法传参的写法一定要对，str为形参的名字,str2为第二个形参的名字
						data: "{'DeviceNum':'" + stationid + "'}",
						contentType: "application/json; charset=utf-8",
					});
				}
				var EditStation = function (e, ee, marker) {
					marker.openInfoWindow(StationWin);
					document.getElementById('station').value = stationid;

					$.ajax({
						type: "POST",
						url: "/ManageMap/GetEditStationInfo",
						//方法传参的写法一定要对，str为形参的名字,str2为第二个形参的名字
						data: "{'station':'" + stationid + "'}",
						contentType: "application/json; charset=utf-8",
						//请求不成功
						dataType: "json",
						success: function (data) {
							if (data == "]") {

							}
							else {
								var shuju = data;
								var BASEDATA = eval('(' + data + ')');
								for (var i = 0; i < BASEDATA.length; i++) {
									var x = document.getElementById('station01').insertRow(0)
									var y = x.insertCell(0)
									var z = x.insertCell(1)
									y.innerHTML = "<tr><td align=center class=common style=font-size:14px;>*设备编号：</td>";
									z.innerHTML = " <td  colspan=2><input type=text maxlength=50 size=18  value='" + BASEDATA[i].Title + "' name='DeviceName' style='width:150px;height:28px' readonly='true'><input  type=button class='del' style='width:50px;height:35px;  padding: 0 5px; margin:0 10px 7px' value='删除'  /></td></tr>";
									//20160715注释掉该部分程序
									//z.innerHTML = " <td  colspan=2><input type=text maxlength=50 size=18  value='" + BASEDATA[i].Title + "' name='DeviceName' style='width:150px;height:28px' readonly='true'><input  type=button class='del' style='width:50px;height:35px;  padding: 0 5px; margin:0 10px 7px' value='删除'  /><input  type=button  style='width:50px;height:35px;  padding: 0 5px; margin:0 10px 7px' value='新增' onclick='addedit()' /></td></tr>";
								}

								init1();

							}
						}
					});
				}
				//创建右键菜单,管理员权限才有标注 编辑删除点的权限

					var markerMenu = new BMap.ContextMenu();
					markerMenu.addItem(new BMap.MenuItem('删除该站', removeMarker.bind(marker)));
					//markerMenu.addItem(new BMap.MenuItem('添加设备', EditMarker.bind(marker)));
					markerMenu.addItem(new BMap.MenuItem('编辑站信息', EditStation.bind(marker)));
					marker.addContextMenu(markerMenu);


			})()
		}
	}*/
	//删除一行数据程序
	/*function init1() {
		//这里其实用ul li input :button就可以,但是给按钮加一个class方便用css给按钮添加样式，这里本人比较懒没有添加样式。
		$("tr td input.del").unbind("click").click(function () {
			var devicenum = ($(this).prev().val());
			if (devicenum == "") {
				$(this).parent().parent().remove();
			}
			else {
				if (confirm("删除后不可恢复,确定要删除吗")) {
					$.ajax({
						type: "POST",
						url: "/ManageMap/DeleteDevice",
						//方法传参的写法一定要对，str为形参的名字,str2为第二个形参的名字
						data: "{'DeviceNum':'" + devicenum + "'}",
						contentType: "application/json; charset=utf-8",
						async: false,
					});
					//$(this).parent().remove();链式操作，$(this)为该按钮本事,parent()为其父元素即<li>，调用renmove()将整个<li>节点删除
					$(this).parent().parent().remove();
				}
			}
		});
	}*/

	//function init2()
	//{
	//    $("tr td input.del").unbind("click").click(function () {
	//     $(this).parent().parent().remove();
	//    });
	//}
	//增加一行部分程序
	function addedit() {
		var x = document.getElementById('station01').insertRow(0)
		var y = x.insertCell(0)
		var z = x.insertCell(1)
		y.innerHTML = "<tr><td align=center class=common style=font-size:14px;>*设备编号：</td>";
		z.innerHTML = " <td  colspan=2><input type=text  size=18 name=DeviceName   style=width:150px;height:28px><input  type=button class='del' style='width:50px;height:35px;  padding: 0 5px; margin:0 10px 7px' value='删除' /><input  type=button  style='width:50px;height:35px;  padding: 0 5px; margin:0 10px 7px' value='新增' onclick='addedit()' /></td></tr>";
		init1();
	}
	var EditStation = [];
	EditStation.push('<div style="width:538px;height:358px;overflow:auto;border=1" ><br/>');
	EditStation.push('<span style="font-size:14px;width:100%;" >充电桩信息: </span><br/>');
	EditStation.push('<span style="font-size:14px;width:250px;" >设备所属人:</span><select id="mySelect2" style=width:164px;height:38px ><option>admin</option><option>zhl</option><option>administrator</option></select> </span> </span><br/>');
	EditStation.push('<span style="font-size:14px;width:250px;" >设备维护人:</span><select id="mySelect3" style=width:164px;height:38px ><option>admin</option><option>zhl</option><option>administrator</option></select> </span><br/>');
	EditStation.push('  <tr>');
	EditStation.push('      <td align="left" class="common1" style="font-size:14px; display:none">*该站名称：</td>');
	EditStation.push('     <td  colspan="2"> <input type="text" maxlength="50" name="StationName" size="18"  id="station"  style="width:150px;height:28px" readonly="true"></td>');
	EditStation.push('	     <td valign="top"></td>');
	EditStation.push('  </tr>');
	EditStation.push('<table border="0" cellpadding="0" cellspacing="0" id="station01"  >');
	EditStation.push('</table>');
	EditStation.push('</div>');
	//EditStation.push('          <input type="button" name="btnOK" class="className" style="width:74px;height:34px;" onclick="StationOK()" value="提交">&nbsp;&nbsp;');
	EditStation.push('		     <input type="button" name="btnClear" class="cancel" style="width:74px;height:34px;" onclick="StationClose();" value="关闭">&nbsp;&nbsp;');
	var StationWin = new BMap.InfoWindow(EditStation.join(""), { offset: new BMap.Size(0, -10) });


	//function xixi()
	//{
	//    if ($("#file1").val().length > 0) {
	//        ajaxFileUpload();
	//    }
	//    else {
	//        alert("请选择图片");
	//    }
	//}
	//function ajaxFileUpload() {
	//    $.ajaxFileUpload
	//    (
	//        {
	//            url: '/managemap/Upload', //用于文件上传的服务器端请求地址
	//            secureuri: false, //一般设置为false
	//            fileElementId: 'file1', //文件上传空间的id属性  <input type="file" id="file" name="file" />
	//            dataType: 'HTML', //返回值类型 一般设置为json
	//            success: function (data, status)  //服务器成功响应处理函数
	//            {
	//                alert(data);
	//                $("#img1").attr("src", data);
	//                if (typeof (data.error) != 'undefined') {
	//                    if (data.error != '') {
	//                        alert(data.error);
	//                    } else {
	//                        alert(data.msg);
	//                    }
	//                }
	//            },
	//            error: function (data, status, e)//服务器响应失败处理函数
	//            {
	//                alert(e);
	//            }
	//        }
	//    )
	//    return false;
	//}
	//编辑界面的取消按钮关闭编辑窗口
	function StationClose() {
		map.closeInfoWindow(StationWin);
	}
	//20160715注释掉改程序
	//function StationOK()
	//{
	//    var els = document.getElementsByName("DeviceName");
	//    var yyz = document.getElementById('mySelect2').value;
	//    var whz = document.getElementById('mySelect3').value;
	//    var num = document.getElementById("station").value;
	//    var device_name = $("input[name='DeviceName']");
	//    //alert(device_name);
	//    var str= [];
	//    for (var i = 0; i < els.length; i++) {
	//        //str += $("input[name='DeviceName':eq(" + i + ")]").val() + ",";
	//        str.push($("input[name='DeviceName']:eq(" + i + ")").val()  );
	//    }
	//    $.ajax({
	//        type: "POST",
	//        url: "/ManageMap/UpStationDevice",
	//        //方法传参的写法一定要对，str为形参的名字,str2为第二个形参的名字
	//        data: "{'station':'" + str + "','yyz':'" + yyz + "','whz':'" + whz + "','stationnum':'" + num + "'}",
	//        contentType: "application/json; charset=utf-8",
	//        //请求不成功
	//        dataType: "json",
	//        success: function (data) {
	//            if (data == "]") {

	//            }
	//            else {
	//                var shuju = data;

	//                if (shuju =="true") {
	//                    map.closeInfoWindow(StationWin);
	//                }
	//                else if(shuju=="flase")
	//                {
	//                    alert("设备编号输入错误，请重新输入");
	//                }
	//            }
	//        }
	//    });

	//}
	//创建InfoWindow
	function showstationid(json) {
		var stationid = json.StationId;
		return stationid;
	}
	function showdjd(json) {
		var jd = json.point.split("|")[0];
		return jd;
	}
	function showtitle(json) {
		var title = json.title;
		return title;
	}
	function showdwd(json) {
		var wd = json.point.split("|")[1];
		return wd;
	}
	//var title;
	//function showmag(json) {
	//    var message = json.ID;
	//    //title = message;
	//    return message;
	//}
	function showjd(json) {
		var jd = json.point;
		return jd;
	}
	function showcustomer(json) {
		var customer = json.customer;
		return customer;
	}
	function showtel(json) {
		var tel = json.tel;
		return tel;
	}
	function showweizhi(json) {
		var position = json.position;
		return position;
	}
	var devicenumber;
	function showmag(json) {
		var message = json.title;
		devicenumber = message;
		return message;
	}

	//输入校验
	function encodeHTML(a) {
		return a.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/"/g, "&quot;");
	}

	//重填数据
	function fnClear() {
		map.removeOverlay(curMkr);
	}
		var menu = new BMap.ContextMenu(); //右键菜单
		var txtMenuItem = [  //右键菜单项目
			{
				text: '取点',
				callback: function (e) {
					//map.addEventListener("zoomend", function () {
					//    tempZoomIndex = map.getZoom();
					//    //alert(tempZoomIndex);
					//    if (tempZoomIndex > 18) {
					//map.clearOverlays();//添加标注前清空以前的所有标注
					//	document.getElementById("jd").value = e.point.lng;
					//	document.getElementById("wd").value = e.point.lat;
					Marking();
					//    }
					//    else {
					//        alert("为了保证数据的准确性请在标注时将地图级别放大至最大");
					//    }
					//});

				}
			}
		];
		for (var i = 0; i < txtMenuItem.length; i++) {
			menu.addItem(new BMap.MenuItem(txtMenuItem[i].text, txtMenuItem[i].callback, 100)); //菜单添加项目
			menu.addSeparator();  //添加右键菜单的分割线
		}
		map.addContextMenu(menu);


	//键盘事件
</script>
