<!DOCTYPE html>
<html xmlns:shiro="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<meta   http-equiv= "Pragma"   content= "no-cache" />
<meta   http-equiv= "Cache-Control"   content= "no-cache" />
<meta   http-equiv= "Expires"   content= "0" />
<head th:include="include :: header"></head>
<link href="/css/layui.css" rel="stylesheet">
<body class="gray-bg">
<div class="wrapper wrapper-content " id="app">
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<form class="form-horizontal m-t" id="signupForm" autocomplete="off">
						<div class="form-group">
							<input type="hidden" id="id" name="id" th:value="${wuyefei.id}">
							<input type="hidden" id="unpay" name="unpay" th:value="${wuyefei.unpay}">
							<label class="col-sm-3 control-label">物业费名称：</label>
							<div class="col-sm-8">
								<input id="name" name="name" class="form-control" type="text" th:value="${wuyefei.name}" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')">
							</div>
						</div>
						<div class="form-group">
                            <input type="hidden" id="s" th:value="${wuyefei.startDate}">
                            <input type="hidden" id="e" th:value="${wuyefei.endDate}" >
							<label class="col-sm-3 control-label">开始日期：</label>
							<div class="col-sm-3">
								<input type="text" class="layui-input"  id="startDate" placeholder="yyyy年MM月dd日">
							</div>
							<label class="col-sm-3 control-label">结束日期：</label>
							<div class="col-sm-3">
								<input type="text" class="layui-input" id="endDate" placeholder="yyyy年MM月dd日">
							</div>
						</div>
					</form>
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button  type="button"  style="margin-left: 350px"
									 class="btn  btn-primary" onclick="batchInsert()">
								<i class="fa fa-plus" aria-hidden="true"></i>确定
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div th:include="include :: footer"></div>
<script src="/js/lay/laydate/laydate.js"></script>
<script type="text/javascript" src="/js/appjs/wuye/wuyefeiManage/edit.js"></script>
<script>
	laydate.render({
		elem: '#startDate'
		,format: 'yyyy-MM-dd'
	});
	laydate.render({
		elem: '#endDate'
		,format: 'yyyy-MM-dd'
	});
    var s=$("#s").val();
    var e=$("#e").val();
    $("#startDate").val(dateFormat(s,"yyyy-MM-dd"));
    $("#endDate").val(dateFormat(e,"yyyy-MM-dd"));

    function dateFormat(date, format) {

        date = new Date(date);

        var o = {
            'M+' : date.getMonth() + 1, //month
            'd+' : date.getDate(), //day
            'H+' : date.getHours(), //hour
            'm+' : date.getMinutes(), //minute
            's+' : date.getSeconds(), //second
            'q+' : Math.floor((date.getMonth() + 3) / 3), //quarter
            'S' : date.getMilliseconds() //millisecond
        };

        if (/(y+)/.test(format))
            format = format.replace(RegExp.$1, (date.getFullYear() + '').substr(4 - RegExp.$1.length));

        for (var k in o)
            if (new RegExp('(' + k + ')').test(format))
                format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? o[k] : ('00' + o[k]).substr(('' + o[k]).length));

        return format;
    }
</script>
</body>
</html>