<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <br class="ibox float-e-margins">
            <div style="font-weight: bold;font-size: large">一、</div><br>
            <div  style="width: auto"> <img src="/img/setprint/1.png"> </div><br>
            <div style="font-weight: bold;font-size: large">二、</div><br>
            <div  style="width: auto"> <img src="/img/setprint/2.png"> </div><br>
            <div style="font-weight: bold;font-size: large">三、</div><br>
            <div  style="width: auto"> <img src="/img/setprint/3.png"> </div><br>
            <div style="font-weight: bold;font-size: large">四、</div><br>
            <div  style="width: auto"> <img src="/img/setprint/4.png"> </div><br>
            <div style="font-weight: bold;font-size: large">五、</div><br>
            <div  style="width: auto"> <img src="/img/setprint/5.png"> </div><br>
            <div style="font-weight: bold;font-size: large">六、</div><br>
            <div  style="width: auto"> <img src="/img/setprint/6.png"> </div><br>
            <div style="font-weight: bold;font-size: large">七、</div><br>
            <div  style="width: auto"> <img src="/img/setprint/7.png"> </div><br>
            <div style="font-weight: bold;font-size: large">八、</div><br>
            <div  style="width: auto"> <img src="/img/setprint/8.png"> </div><br>
            <div style="font-weight: bold;font-size: large">九、</div><br>
            <div  style="width: auto"> <img src="/img/setprint/9.png"> </div><br>
            <div style="font-weight: bold;font-size: large">十、</div><br>
            <div  style="width: auto"> <img src="/img/setprint/10.png"> </div><br>
            <div style="font-weight: bold;font-size: large">十一、</div><br>
            <div  style="width: auto"> <img src="/img/setprint/11.png"> </div><br>
            <div style="font-weight: bold;font-size: large">十二、</div><br>
            <div  style="width: auto"> <img src="/img/setprint/12.png"> </div><br>
            <div style="font-weight: bold;font-size: large">十三、</div><br>
            <div  style="width: auto"> <img src="/img/setprint/13.png"> </div><br>
            <div style="font-weight: bold;font-size: large">十四、</div><br>
            <div  style="width: auto"> <img src="/img/setprint/14.png"> </div><br>
            <div style="font-weight: bold;font-size: large">十五、</div><br>
            <div  style="width: auto"> <img src="/img/setprint/15.png"> </div><br>
            <div style="font-weight: bold;font-size: large">十六、</div><br>
            <div  style="width: auto"> <img src="/img/setprint/16.png"> </div><br>
        </div>
    </div>
</div>
</div>
<div th:include="include::footer"></div>



</body>
</html>