<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link href="/css/bootstrap-editable.css"
      rel="stylesheet">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<style>
    .clearfix {
        display: none;
    }
    .fixed-table-pagination{
        display: none !important;
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h2 style="text-align: center">移库单</h2>
                    <form class="form-horizontal m-t" id="signupForm">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">单据编号：</label>
                            <div class="col-sm-4">
                                <input id="code" readonly value="RK20180313000252" name="code" class="form-control" type="text">
                            </div>
                            <label class="col-sm-2 control-label">入库库房：</label>
                            <div class="col-sm-4">
                                <input id="storeroomId" readonly value="丰宁县库房备件一库" name="storeroomId"  class="form-control" type="text">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">出库库房：</label>
                            <div class="col-sm-4">
                                <input id="a" readonly value="丰宁县库房维修库" name="a" readonly="true" class="form-control" type="text">

                            </div>
                        </div>
                        <div class="form-group">
                            <table id="exampleTable" data-mobile-responsive="true">
                            </table>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">备注：</label>
                            <div class="col-sm-10">
                                <input id="remarks" readonly name="remarks" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">入库日期：</label>
                            <div class="col-sm-4">
                                <input type="text" class=" form-control" id="createDate" name="createDate" value="2018-04-17" placeholder="请选择入库日期"
                                        readonly="readonly"/>
                            </div>
                            <label class="col-sm-2 control-label">经手人：</label>
                            <div class="col-sm-4">
                                <input id="inboundBy" readonly value="张三" name="inboundBy" readonly="true" class="form-control" type="text">

                                <!--
                                                                <input id="inboundBy" name="inboundBy" class="form-control" type="text">
                                -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/stock/inbound/add1.js">
    </script>
<!--<script type="text/javascript" src="/js/bootstrap-editable.min.js"></script>
<script type="text/javascript" src="/js/plugins/bootstrap-table/bootstrap-table-editable.js"></script>
<link href="/css/plugins/select/select2-bootstrap.css" rel="stylesheet" />
<link href="/css/plugins/select/select2.min.css" rel="stylesheet" />
<script src="/js/plugins/select2/select2.full.min.js"></script>-->
</body>
</html>
