<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>巡检管理系统</title>

    <!-- MZUI CSS 文件 -->
    <link href="/css/mzui.min.css" rel="stylesheet">
</head>
<body class="with-heading-top ">
<header class="heading primary affix dock-top">
    <div class="avatar" ><a href="/mobile/maintenance"><i class="icon-arrow-left"></i></a></div>
    <div class="title" ><strong >设备更换申请</strong></div>
</header>
<div class="section container " style="padding-bottom: 5px;">
    <div class="heading color-grey">
        <div class="title"><strong>设备更换单</strong></div>
    </div>
    <div class="column " >
        <div class="cell-8"  >
            <div class="list "  id="list" style="width: 100%">

            </div>
        </div>
        <div class="cell-2">
            <textarea class="textarea" name="desc" id="miaoshu" rows="3" placeholder="备注"></textarea>
        </div>
    </div>
</div>
<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/mzui.min.js"></script>
<script src="/js/plugins/layer/layer.js"></script>
<script>
    var num=0;
    var my;
    var types=["打印机","打印机","服务器","服务器","交换机","交换机","交换机"];
    var brand=["佳能","佳能","惠普","惠普","思科","思科","思科"];
    var code=["CD01201804135468","CD01201804139857","CD01201804131238","CD01201804135408","CD01201804134321","CD01201804134462","CD01201804135234"];
    var model=["LBP2900+","LBP2900+","DL388 Gen9系列","DL388 Gen9系列","WS-C2960-24TT-L","WS-C3560V2-24TS-S","WS-C3850-24S-S"];
    var index=[];
    var num=0;
    for(var i=0;i<7;i++){
        $("#list").append(html(i,1));
    }
    function html(i,type) {
        var html;
        if(type==1){
            html="<div class=\"item multi-lines shadow-2  rounded-lg\" id='lines"+i+"'>"+
                    "                    <div class=\"content\">"+
                    "                        <div class=\"title\">"+types[i]+"-"+brand[i]+"-"+model[i]+"+</div>"+
                    "                        <div class=\"subtitle\">"+code[i]+"</div>"+
                    "                    </div>"+
                    "                </div>";
        }
        if(type==2){
            html="<div class=\"item multi-lines shadow-2  rounded-lg\" id='lines"+i+"'>"+
                    "                    <div class=\"content\">"+
                    "                        <div class=\"title\">"+types[i]+"-"+brand[i]+"-"+model[i]+"+</div>"+
                    "                        <div class=\"subtitle\">"+code[i]+"</div>"+
                    "                    </div>"+
                    "                    <a class=\"btn danger rounded-lg\" id='btn"+i+"' onclick='del1("+i+")'>删除</a>"+
                    "                </div>";
        }

        return html;
    }
    function del(i) {
        $("#line"+i).remove();
    }
    function del1(i) {
        $("#lines"+i).remove();
    }
    var openDept = function(){
        var index = layer.open({
            type:2,
            title:"选择分类",
            area : [ '300px', '450px' ],
            content:"/mobile/classTreeView",
        maxmin: true
        })
        layer.full(index);
    }
    function close() {
        layer.close(my);
    }
    function loadDept( deptId,deptName){
        $("#deptId").val(deptId);
        $("#deptName").val(deptName);
    }
    function addItem(html) {
        $("#list").append(html);
    }
    function removeItem(i) {
        $("#lines"+i).remove();
    }
</script>
</body>
</html>