<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>巡检管理系统</title>

    <!-- MZUI CSS 文件 -->
    <link href="/css/mzui.min.css" rel="stylesheet">
</head>
<body class="with-heading-top with-heading-bottom">
<header class="heading primary affix dock-top">
    <div class="avatar" ><a href="/mobile/first"><i class="icon-arrow-left"></i></a></div>
    <div class="title" ><strong >盘库操作</strong></div>
</header>
<div class="section container " style="padding-bottom: 5px;">
    <div class="heading color-grey">
        <div class="title" style="margin-top: 5px"><strong>站点：南五十家子支行</strong></div>
    </div>
   <!-- <div class="heading color-grey">
        <div class="title"><strong>盘点列表</strong></div>
    </div>-->
<div class="list section with-divider">
    <div class="item with-avatar multi-lines">
        <div class="content">
            <span class="title">打印机-佳能-LBP2900+</span>
            <div>
                <small class="muted">CD01201804135468</small>&nbsp;
                <p><small class="muted">入库时间：2018年03月30日</small></p>
            </div>
        </div>
    </div>
    <div class="item with-avatar multi-lines">
        <div class="content">
            <span class="title">打印机-佳能-LBP2900+</span>
            <div>
                <small class="muted">CD01201804135468</small>&nbsp;
                <p><small class="muted">入库时间：2018年02月30日</small></p>
            </div>
        </div>
    </div>
    <div class="item with-avatar multi-lines">
        <div class="content">
            <span class="title">打印机-佳能-LBP2900+</span>
            <div>
                <small class="muted">CD01201804135468</small>&nbsp;
                <p><small class="muted">入库时间：2018年01月30日</small></p>
            </div>
        </div>
    </div>
    <div class="item with-avatar multi-lines">
        <div class="content">
            <span class="title">打印机-佳能-LBP2900+</span>
            <div>
                <small class="muted">CD01201804135468</small>&nbsp;
                <p><small class="muted">入库时间：2018年01月30日</small></p>
            </div>
        </div>
    </div>
    <div class="item with-avatar multi-lines">
        <div class="content">
            <span class="title">打印机-佳能-LBP2900+</span>
            <div>
                <small class="muted">CD01201804135468</small>&nbsp;
                <p><small class="muted">入库时间：2018年01月30日</small></p>
            </div>
        </div>
    </div>
    <div class="item with-avatar multi-lines">
        <div class="content">
            <span class="title">打印机-佳能-LBP2900+</span>
            <div>
                <small class="muted">CD01201804135468</small>&nbsp;
                <p><small class="muted">入库时间：2018年01月03日</small></p>
            </div>
        </div>
    </div>
</div>
</div>
<footer class="heading primary affix dock-bottom">
    <div class="title text-center" style="background-color: white;color: black">
        <a>
            <img src="/img/sao.png" style="width: 18px;height: 18px; padding: 0;margin: -1px 0 0 5px;">
        </a>
        开始盘库
    </div>
    <div class="title text-center" style="background-color: white;color: black" onclick="save()">
        <a><i class="icon-check"></i></a>
        确认提交
    </div>
</footer>
<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/mzui.min.js"></script>
<!--
<script src="/js/plugins/layer/layer.js"></script>
-->
<script>

    function save() {
        window.location.href="/mobile/first";
    }
</script>
</body>
</html>