<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>巡检管理系统</title>

    <!-- MZUI CSS 文件 -->
    <link href="/css/mzui.min.css" rel="stylesheet">
    <style type="text/css">
        html {height:100%}
        body {height:100%;margin:0px;padding:0px}
        #container {height:800px;width:100%}
    </style>
</head>
<body   class="with-heading-top with-heading-bottom">
<header class="heading primary affix dock-top">
    <div class="avatar" ><a href="/mobile/index"><i class="icon-arrow-left"></i></a></div>
    <div class="title" ><strong >巡检区域导航</strong></div>
   <!-- <nav class="nav">
        <a title="返回" style="font-size: 16px;">绑定二维码</a>
    </nav>-->
</header>
<div class="section">
    <input type="hidden" id="dept_name" th:value="${dept_name}">
    <input type="hidden" id="longitude" th:value="${longitude}">
    <input type="hidden" id="Latitude" th:value="${Latitude}">
   <input type="hidden" id="id" th:value="${id}">
    <div id="container"></div>
    </div>
<footer class="heading primary affix dock-bottom">
    <div class="title text-center" onclick="qiandao()"><strong >网点签到</strong></div>
</footer>
<!-- MZUI 的 JavaScript 插件依赖 jQuery，请使用 jQuery 最新版本 -->
<canvas id='canvas' width='400' height='300'></canvas>
<img id='img' src=''>
<!-- 引入 MZUI 的 JS 文件 -->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=i0pSF5a29dpE3H33wN6E3jmC"></script>
<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/mzui.min.js"></script>


<script>
    var opts = {
        width : 120,     // 信息窗口宽度
        height: 50,     // 信息窗口高度
        title : "网点"  // 信息窗口标题
    }

    var longitude=$("#longitude").val();//经度
    var Latitude=$("#Latitude").val();//纬度
    var infoWindow = new BMap.InfoWindow($("#dept_name").val(), opts);
    // 创建信息窗口对象

        var map = new BMap.Map("container");
        var point = new BMap.Point(longitude,Latitude);
        map.centerAndZoom(point, 12);
        var marker = new BMap.Marker(point);        // 创建标注
        map.openInfoWindow(infoWindow, map.getCenter());      // 打开信息窗口
        map.addOverlay(marker);
          function qiandao() {
            var a=$("#id").val()


        window.location.href="/mobile/xunjian/" +a;
    }
</script>
</body>
</html>