<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>巡检管理系统</title>

    <!-- MZUI CSS 文件 -->
    <link href="/css/mzui.min.css" rel="stylesheet">
    <style>
        .item{
            margin-bottom: 10px;
        }
    </style>
</head>
<body class="with-heading-top with-heading-bottom">
<header class="heading primary affix dock-top">
    <div class="avatar" ><a href="/mobile/first"><i class="icon-arrow-left"></i></a></div>
    <div class="title" ><strong >设备在线维修</strong></div>
</header>
<div class="section container " style="padding-bottom: 5px;">
    <div class="heading color-grey">
        <div class="title" style="margin-top: 10px;"><strong>设备维修单</strong></div>
        <div class="title text-right" id="num" style="margin-top: 10px;"><strong></strong></div>
    </div>
    <div class="column " >
        <div class="cell-8"  >
            <div class="list "  id="list" style="width: 100%">

            </div>
        </div>
        <div class="cell-2">
            <textarea class="textarea" name="remarks" id="remarks" rows="3" placeholder="备注"></textarea>
        </div>
    </div>
</div>
<footer class="heading primary affix dock-bottom">
    <div class="title text-center" style="background-color: white;color: black" onclick="allCheck()">
        <i class="icon-check-empty" id="check"></i>
        全选
    </div>
    <div class="title text-center" style="background-color: white;color: black" onclick="del()">
        <i class="icon-trash"></i>
        删除
    </div>
    <div class="title text-center" style="background-color: white;color: black" onclick="scan()">
        <img src="/img/sao.png" style="width: 14px;height: 14px; padding: 0;margin: -1px 0 0 5px;">
        扫码
    </div>
    <div class="title text-center" style="background-color: white;color: black" onclick="save()">
        <i class="icon-save"></i>
        提交
    </div>

</footer>
<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/mzui.min.js"></script>
<script src="/js/plugins/layer/layer.js"></script>
<script src="/js/plugins/weixin/jweixin-1.2.0.js"></script>
<script>
    $(document).ready(function(){
        $.ajax({
            type: "get",
            url: "/mobile/getWechatConfig",
            data: "url="+encodeURIComponent(location.href.split('#')[0]),
            dataType:"json",
            success: function(data){
                if(data&&data.error=='no'){
                    wx.config({
                        debug : false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                        appId : data.appId, // 必填，公众号的唯一标识
                        timestamp : data.timestamp, // 必填，生成签名的时间戳
                        nonceStr : data.nonceStr, // 必填，生成签名的随机串
                        signature : data.signature,// 必填，签名，见附录1
                        jsApiList : ["scanQRCode"]
                    });
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.status);
                alert(XMLHttpRequest.readyState);
                alert(textStatus);
            }
        });
    });
    var num=0;
    var is_all=false;
    var equipments=[];
    function allCheck() {
        if(num>0){
            if(!is_all){
                $("input[name='equipment']").prop("checked", true);
                is_all=true;
                $("#check").removeClass("icon-check-empty");
                $("#check").addClass("icon-sign-blank");
            }else {
                $("input[name='equipment']").prop("checked", false);
                is_all=false;
                $("#check").removeClass("icon-sign-blank");
                $("#check").addClass("icon-check-empty");
            }
        }
    }
    function del() {
        var length=$('input:checkbox[name="equipment"]:checked').length;
        $("input[name='equipment']:checked").each(function() {
            var id=$(this).attr('id');
            $("#"+id).parent().remove();
            var i=$(this).parent().attr('id');
            removeByValue(equipments, i);

        });
        num-=length;
        if(num>0){
            $("#num").text("已添加"+num+"台设备");
        }else{
            $("#num").text("");
        }
    }
    function scan() {
        wx.scanQRCode({
            desc: 'scanQRCode desc',
            needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
            scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
            success: function (res) {
                var id = res.resultStr;// 当needResult 为 1 时，扫码返回的结果
                var index = $.inArray(id, equipments);   //结果：index=1
                if (index < 0) {
                    $.ajax({
                        type : "GET",
                        url: "/mobile/getEquipmentById",
                        data: "id="+id,
                        dataType:"json",
                        success : function(data) {
                            if(data){
                                var html="<div class=\"item multi-lines shadow-2 rounded-lg\" id='"+id+"' >"+
                                        "<input type='checkbox' name='equipment' id='checkbox"+num+"' style='margin-top: 12px'>"+
                                        "                    <div class=\"content\">"+
                                        "                        <div class=\"title\">"+data.categoryName+"-"+data.brandName+"-"+data.model+"</div>"+
                                        "                        <div class=\"subtitle\">"+id+"</div>"+
                                        "                    </div>"+
                                        "                </div>";
                                $("#list").append(html);
                                equipments.push(id);
                                num++;
                                $("#num").text("已添加"+num+"台设备");
                                scan();
                            }
                            else{
                                alert('没有该设备信息！')
                            }

                        }
                    });
                }else{
                    alert('该条码已扫描！')
                }
            }
        });
    }
    function scan1() {
        var idNew = "A02001001Kq6t1Dj4"
        $.ajax({
            type : "GET",
            url: "/mobile/getEquipmentById",
            data: "id="+idNew,
            dataType:"json",
            success : function(data) {
                if(data){
                    /*if(data.type&&data.type=="4"){
                     alert('已上线设备不能再次上线！');
                     return;
                     }*/
                    var html="<div class=\"item multi-lines shadow-2 rounded-lg\" id='"+idNew+"' onclick='choose(num)'>"+
                            "<input type='checkbox' name='equipment' id='checkbox"+num+"' style='margin-top: 12px'>"+
                            "                    <div class=\"content\">"+
                            "                        <div class=\"title\">"+data.categoryName+"-"+data.brandName+"-"+data.model+"</div>"+
                            "                        <div class=\"subtitle\">"+idNew+"</div>"+
                            "                    </div>"+
                            "                </div>";
                    $("#list").append(html);
                    equipments.push(idNew);
                    num++;
                    //scan();
                }
                else{
                    alert('没有该设备信息！')
                }

            }
        });
    }
    function save() {
        if(equipments.length==0){
            alert("请选择维修设备！")
            return;
        }
        var b =  equipments.toString();
        $.ajax({
            cache : true,
            type : "POST",
            url : "/equipment/onlrepair/save",
            data : {remarks:$("#remarks").val(),equipmentIds:b},// 你的formid
            async : false,
            error : function(request) {

            },
            success : function(data) {
                alert("保存成功!")
                window.location.href="/mobile/first";
            }
        });
    }
    function removeByValue(arr, val) {
        for(var i=0; i<arr.length; i++) {
            if(arr[i] == val) {
                arr.splice(i, 1);
                break;
            }
        }
    }
</script>
</body>
</html>