<head th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link href="css/bootstrap-editable.css"
		  rel="stylesheet">
</head>
<div th:fragment="footer">
	<script type="text/javascript" src="/js/bootstrap-editable.min.js"></script>
	<script type="text/javascript" src="/js/plugins/bootstrap-table/bootstrap-table-editable.js"></script>
</div>
