<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
   <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/layui.css"  media="all">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
   <link rel="shortcut icon" href="favicon.ico"> <link href="/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="/css/plugins/bootstrap-table/bootstrap-table.min.css"
          th:href="@{/css/plugins/bootstrap-table/bootstrap-table.min.css}"
          rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css?v=4.1.0" rel="stylesheet">



    <link href="/css/plugins/toastr/toastr.min.css" rel="stylesheet">

</head>
<body class="gray-bg">

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
                <div class="col-sm-12">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"style="font-size: 16px"><i class="fa fa-list-ul" aria-hidden="true"></i>设备状态信息（实时） </div>

                        <div class="tools">
                            <a  href="equipment/count;"   style="font-size: 16px;"><b style="color: #e7f4f9">more</b></a>
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">

                            <table id="exampleTable" data-mobile-responsive="true">
                            </table>
                        </div>
                    </div>
                </div>
            </div>

    </div>


        </div>
    </div>


<!-- 全局js -->
<script src="/js/jquery.min.js?v=2.1.4"></script>
<script src="/js/bootstrap.min.js?v=3.3.6"></script>
<script src="/js/layui.js?v=3.3.6"></script>


<!-- 自定义js -->
<script src="/js/content.js?v=1.0.0"></script>
<script type="text/javascript" src="/js/contabs.js"></script>

<!-- ECharts demo data -->
<script src="/js/appjs/sys/echarts.js"></script>


<script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/js/plugins/layer/layer.min.js"></script>

<script src="/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>

</body>


</html>