<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header">
</head>
<style>
	.view {
		height: 0;
		overflow:hidden;
		margin-bottom: 0;
	}
</style>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">
								<label class="col-sm-3 control-label">上级机构：</label>
								<div class="col-sm-8">
									<input id="parentId" name="parentId" th:value="${pId}"
										class="form-control hidden" type="text">
								</div>
								<div class="col-sm-8">
									<input id="pName" name="pName" th:value="${pName}"
										class="form-control" type="text" readonly>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">机构名称：</label>
								<div class="col-sm-8">
									<input id="name" name="name" class="form-control" type="text" onkeyup="this.value=this.value.replace(/^ +| +$/g,'')">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">区域：</label>
								<div class="col-sm-8">
									<input id="area" name="area" class="hidden"> <input
										id="areaName" name="areaName" class="form-control" type="text"
										style="cursor: pointer;" onclick="openArea()"
										readonly="readonly" placeholder="所在区域">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">排序：</label>
								<div class="col-sm-8">
									<input id="orderNum" name="orderNum" class="form-control"
										type="text">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/system/sysDept/add.js">
	</script>
</body>
</html>
