<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<meta   http-equiv= "Pragma"   content= "no-cache" />
<meta   http-equiv= "Cache-Control"   content= "no-cache" />
<meta   http-equiv= "Expires"   content= "0" />
<head th:include="include :: header"></head>
<link href="/css/layui.css" rel="stylesheet">
<style>
	.layui-btn {
		display: inline-block;
		vertical-align: middle;
		height: 34px;
		line-height: 34px;
		padding: 0 15px;
		background-color: #1ab394;
		color: #fff;
		white-space: nowrap;
		text-align: center;
		font-size: 14px;
		border: none;
		border-radius: 2px;
		cursor: pointer;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	.input-group{
		display: block;
	}
	.label {
		width: auto;
		float: left;
		padding:11px 10px;
	}
	.chosen-container{
		float: left;
	}
	table tr td {
		white-space:nowrap;
	}
</style>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-3">
				<div class="ibox ibox-body">
					<div class="ibox-title">
						<h5>选择楼宇</h5>
					</div>
					<div class="ibox-content">
						<div id="jstree"></div>
					</div>
				</div>
			</div>
			<div class="col-sm-9">
				<div class="ibox">
					<div class="ibox-body">
						<div class="row">
							<div class="form-group">
								<input id="roomCode" type="text" class="layui-input"
									   placeholder="房屋编号" style="width: 150px;float: left">
								<input id="name" type="text" class="layui-input"
									   placeholder="业主名称" style="width: 150px;float: left">
								<select data-placeholder="--选择合同状态--" id="state" style="width: 150px;float: left"
										class="layui-input chosen-select" tabindex="2" >
									<option value="">--选择合同状态--</option>
									<option value="0">--未交房--</option>
									<option value="1">--已交房--</option>
									<option value="2">--撤销--</option>
								</select>
								<input type="hidden" id="roomType1">
								<select data-placeholder="--选择房屋类型--" style="width: 150px;float: left" name="roomType" id="roomType"
										class="layui-input chosen-select" tabindex="2">
									<option value="">--选择房屋类型--</option>
								</select>
								<input type="hidden" id="sellType1">
								<select data-placeholder="--选择转让类型--" style="width: 150px;float: left" name="sellType" id="sellType"
										class="layui-input chosen-select" tabindex="2">
									<option value="">--选择转让类型--</option>
								</select>
								<button class="btn btn-success" style="float: left" onclick="reLoad()">查询</button>
								<button class="btn btn-primary" style="float: left" onclick="c()">清空</button>
							</div>
						</div>
						<div class="row" style="margin-top:10px;">
							<div class="form-group">
								<button shiro:hasPermission="realty:contract:download" type="submit" class="btn  btn-primary" onclick="download()"  >
									下载模板
								</button>
								<button shiro:hasPermission="realty:contract:upload"  type="button" id="upload"
										class="layui-btn" >
									<i class="fa fa-cloud hidden" aria-hidden="true"></i>批量上传
								</button>
							</div>
						</div>
						<form id="importForm" action='' method='post'>
							<div class="columns pull-left">

							</div>
						</form>
					</div>
					<table id="exampleTable" data-mobile-responsive="false"  >
					</table>
				</div>
			</div>
		</div>
		</div>

	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_download_h = 'hidden';
				var s_jiaofang_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="realty:contract:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="realty:contract:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="realty:contract:download">
			<script type="text/javascript">
				var s_download_h = '';
			</script>
		</div>
	<div shiro:hasPermission="realty:contract:jiaofang">
		<script type="text/javascript">
			var s_jiaofang_h = '';
		</script>
	</div>
	</div>
	<div th:include="include :: footer"></div>
	<style>
		table tr td {
			white-space:nowrap
		}
	</style>
	<!-- 全局js -->
	<script src="/js/layui.js"></script>
	<script src="/js/plugins/bootstrap-table/bootstrap-table-fixed-columns.js"></script>
	<script type="text/javascript" src="/js/appjs/realty/contract/contract.js"></script>
	<script>
		layui.use('upload', function () {
			var upload = layui.upload;
			//执行实例
			var uploadInst = upload.render({
				elem: '#upload', //绑定元素
				url: prefix+'/upload', //上传接口
				size: 1000,
				accept: 'file',
				done: function (r) {
					layer.msg(r.msg);
                    $('#exampleTable').bootstrapTable('refresh');
				},
				error: function (r) {
					layer.msg(r.msg);
				}
			});
		});
	</script>
</body>
</html>