<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="id" name="id" th:value="${contract?.id}"  type="hidden">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">项目ID：</label>
                            <div class="col-sm-8">
                                <input id="deptId" name="deptId" th:value="${contract?.deptId}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">楼宇ID：</label>
                            <div class="col-sm-8">
                                <input id="buildingId" name="buildingId" th:value="${contract?.buildingId}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">房屋ID：</label>
                            <div class="col-sm-8">
                                <input id="roomId" name="roomId" th:value="${contract?.roomId}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">单元数：</label>
                            <div class="col-sm-8">
                                <input id="unit" name="unit" th:value="${contract?.unit}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">楼层：</label>
                            <div class="col-sm-8">
                                <input id="floor" name="floor" th:value="${contract?.floor}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">房屋类型：</label>
                            <div class="col-sm-8">
                                <input id="roomType" name="roomType" th:value="${contract?.roomType}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">建筑面积：</label>
                            <div class="col-sm-8">
                                <input id="buildingArea" name="buildingArea" th:value="${contract?.buildingArea}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">使用面积：</label>
                            <div class="col-sm-8">
                                <input id="floorArea" name="floorArea" th:value="${contract?.floorArea}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">转让类型或未售：</label>
                            <div class="col-sm-8">
                                <input id="sellType" name="sellType" th:value="${contract?.sellType}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">单价：</label>
                            <div class="col-sm-8">
                                <input id="price" name="price" th:value="${contract?.price}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">总价：</label>
                            <div class="col-sm-8">
                                <input id="totalPrice" name="totalPrice" th:value="${contract?.totalPrice}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">付款方式（0全款，1贷款）：</label>
                            <div class="col-sm-8">
                                <input id="payType" name="payType" th:value="${contract?.payType}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">首付款：</label>
                            <div class="col-sm-8">
                                <input id="firstPay" name="firstPay" th:value="${contract?.firstPay}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">已收首付款：</label>
                            <div class="col-sm-8">
                                <input id="firstReceive" name="firstReceive" th:value="${contract?.firstReceive}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">欠(首付）款：</label>
                            <div class="col-sm-8">
                                <input id="firstOwn" name="firstOwn" th:value="${contract?.firstOwn}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">贷款金额：</label>
                            <div class="col-sm-8">
                                <input id="loan" name="loan" th:value="${contract?.loan}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">销售顾问：</label>
                            <div class="col-sm-8">
                                <input id="sellBy" name="sellBy" th:value="${contract?.sellBy}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">销售日期：</label>
                            <div class="col-sm-8">
                                <input id="sellDate" name="sellDate" th:value="${contract?.sellDate}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">备注：</label>
                            <div class="col-sm-8">
                                <input id="remark" name="remark" th:value="${contract?.remark}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">合同编号：</label>
                            <div class="col-sm-8">
                                <input id="code" name="code" th:value="${contract?.code}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">退补面积：</label>
                            <div class="col-sm-8">
                                <input id="balanceArea" name="balanceArea" th:value="${contract?.balanceArea}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">退补金额：</label>
                            <div class="col-sm-8">
                                <input id="balancePrice" name="balancePrice" th:value="${contract?.balancePrice}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">税款：</label>
                            <div class="col-sm-8">
                                <input id="tax" name="tax" th:value="${contract?.tax}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">房屋结算价款(不含税)：</label>
                            <div class="col-sm-8">
                                <input id="totalPriceNoTax" name="totalPriceNoTax" th:value="${contract?.totalPriceNoTax}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">计税方法：</label>
                            <div class="col-sm-8">
                                <input id="taxMethod" name="taxMethod" th:value="${contract?.taxMethod}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">已预缴营业税：</label>
                            <div class="col-sm-8">
                                <input id="taxed" name="taxed" th:value="${contract?.taxed}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">购房者姓名：</label>
                            <div class="col-sm-8">
                                <input id="name" name="name" th:value="${contract?.name}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">购房者身份证号：</label>
                            <div class="col-sm-8">
                                <input id="idCard" name="idCard" th:value="${contract?.idCard}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">购房者电话号：</label>
                            <div class="col-sm-8">
                                <input id="phone" name="phone" th:value="${contract?.phone}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">开户行：</label>
                            <div class="col-sm-8">
                                <input id="bank" name="bank" th:value="${contract?.bank}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">银行卡号：</label>
                            <div class="col-sm-8">
                                <input id="cardNo" name="cardNo" th:value="${contract?.cardNo}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">创建人：</label>
                            <div class="col-sm-8">
                                <input id="createBy" name="createBy" th:value="${contract?.createBy}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">创建日期：</label>
                            <div class="col-sm-8">
                                <input id="createDate" name="createDate" th:value="${contract?.createDate}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">更新人：</label>
                            <div class="col-sm-8">
                                <input id="updateBy" name="updateBy" th:value="${contract?.updateBy}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">更新日期：</label>
                            <div class="col-sm-8">
                                <input id="updateDate" name="updateDate" th:value="${contract?.updateDate}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">：</label>
                            <div class="col-sm-8">
                                <input id="delFlag" name="delFlag" th:value="${contract?.delFlag}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">状态：</label>
                            <div class="col-sm-8">
                                <input id="state" name="state" th:value="${contract?.state}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">：</label>
                            <div class="col-sm-8">
                                <input id="orderId" name="orderId" th:value="${contract?.orderId}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">：</label>
                            <div class="col-sm-8">
                                <input id="bumen" name="bumen" th:value="${contract?.bumen}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">：</label>
                            <div class="col-sm-8">
                                <input id="renyuan" name="renyuan" th:value="${contract?.renyuan}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">：</label>
                            <div class="col-sm-8">
                                <input id="leixing" name="leixing" th:value="${contract?.leixing}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">：</label>
                            <div class="col-sm-8">
                                <input id="guishu" name="guishu" th:value="${contract?.guishu}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">备注：</label>
                            <div class="col-sm-8">
                                <input id="beizhu" name="beizhu" th:value="${contract?.beizhu}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">已收总房款：</label>
                            <div class="col-sm-8">
                                <input id="yishou" name="yishou" th:value="${contract?.yishou}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">未收总房款：</label>
                            <div class="col-sm-8">
                                <input id="weishou" name="weishou" th:value="${contract?.weishou}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">交房日期：</label>
                            <div class="col-sm-8">
                                <input id="jiaofangDate" name="jiaofangDate" th:value="${contract?.jiaofangDate}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/realty/contract/edit.js">
</script>
</body>
</html>
