<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link href="/css/layui.css" rel="stylesheet">
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
               <!-- <input id="shopId" hidden  th:value="${contractList.shopId}">-->
                <table id="exampleTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
</div>

</div>
<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
<div>
    <script type="text/javascript">
        var s_edit_h = 'hidden';
        var s_remove_h = 'hidden';
        var s_download_h = 'hidden';
        var s_renew_h = 'hidden';
        var s_jiaofang_h = 'hidden';
    </script>
</div>
<div shiro:hasPermission="business:contract:edit">
    <script type="text/javascript">
        s_edit_h = '';
    </script>
</div>
<div shiro:hasPermission="business:contract:remove">
    <script type="text/javascript">
        var s_remove_h = '';
    </script>
</div>
<div shiro:hasPermission="business:contract:plus">
    <script type="text/javascript">
        var s_renew_h = '';
    </script>
</div>
<div shiro:hasPermission="business:contract:download">
    <script type="text/javascript">
        var s_download_h = '';
    </script>
</div>
<div shiro:hasPermission="realty:contract:jiaofang">
    <script type="text/javascript">
        var s_jiaofang_h = '';
    </script>
</div>
</div>
<div th:include="include :: footer"></div>
<style>
    table tr td {
        white-space:nowrap
    }
</style>
<script type="text/javascript" src="/js/appjs/business/contract/contractDetail.js"></script>
<script src="/js/layui.js"></script>
<script src="/js/vue.min.js"></script>
</body>
</html>